<!-- {{articulos | json}} -->
<!-- <qrcode [qrdata]="'Te quiero mucho mi amor Esmeralda'" [width]="256" [errorCorrectionLevel]="'M'"></qrcode> -->
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let articulo of articulos">
            <div class="card mb-3">
                <h5 class="card-header">{{articulo.articuloDescripcion}}</h5>
               
                <div class="card-body text-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="100%" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle;">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                        <!-- Reemplaza la URL_DE_LA_IMAGEN con la URL real de tu imagen -->
                        <image [attr.href]="articulo.articuloImagenUrl" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"></image>
                    </svg>
                    
                </div>
                <div class="card-body">
                  <h6 class="card-title">Marca: {{articulo.articuloMarca}}.</h6>
                  <h6 class="card-title">Modelo: {{articulo.articuloModelo}}.</h6>
                  <h6 class="card-title">Sock: {{articulo.articuloStock}} unidades.</h6>
                  <h6 class="card-title">Precio: {{ articulo.articuloPrecio | currency:' PEN ':'symbol':'1.2-2'}}</h6>
                </div>
                <div class="card-body d-flex justify-content-between">
                  <button class="btn btn-outline-primary">Ver <i class="fa-solid fa-eye"></i></button>
                  <button class="btn btn-outline-success" (click)="agregarArticuloSeleccionado(articulo)">Añadir <i class="fa-solid fa-cart-shopping"></i></button>
                </div>
               
                <div class="card-footer text-center">
                  &copy; Marca personal
                </div>
              </div>
        </div>
    </div>
</div>


<!-- Modal -->
<!-- <div class="modal  modal-dialog modal-dialog-centered" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->
  
